<div class="card" style="width: 18rem;">
{# Image #}
  <img src="{{ contact.avatar }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ contact.nom}}</h5>
        <h4 class="card-title">{{ contact.prenom}}</h4>
        <p class="card-text">{{ contact.description}}</p>

        <a href="contactDetail/{{contact._id}}" class="btn btn-primary">En savoir plus</a>
    </div>
</div>