{% extends 'layout.twig' %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <img src="{{ contact.avatar }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{contact.nom}}</h5>
                <p class="card-text">{{contact.prenom}}</p>
            </div>
            <ul class="list-group list-group-flush"> Email
                <li>
                    {% for item in contact.email %}
                        <p>type : {{item.type}}</p>
                        <p> adresse :{{item.adresseEmail}}</p>
                    {% endfor %}
                </li>
            </ul>
            <ul class="list-group list-group-flush"> Telephone
                <li>
                    {% for item in contact.telephone %}
                        <p>type : {{item.type}}</p>
                        <p> numéro :{{item.numero}}</p>
                    {% endfor %}
                </li>
            </ul>
            <div class="card-body">
                {# <button onclick="delete()">Click me</button> #}
                {{contact._id}}
                <a href="/updateContact/{{contact._id}}" class="btn btn-primary">Modifier</a>
                <p id="demo" onclick="test('{{contact._id}}')">Supprimer</p>
            </div>
    </div>

{% endblock %}


{% block javascript %}
  <script type="text/javascript">
        function test(id) {
            console.log(id);
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "http://localhost:3000/contacts/" + id, true);
            xhr.send();
        }

 </script>

{% endblock %}